/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Castoro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/castoro/v19/1q2GY5yMCld3-O4cLY9OyA.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpyw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v30/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
