.align-left{
  text-align: left;
}

.unbold {
  font-weight: normal;
}

.toggle-btn:hover{
  cursor: pointer;
}

.hidden-content{
  display: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(255, 255, 255);
}

.text-dec-none{ /* TODO: remove this */
  text-decoration: none !important;
  border-bottom-style: none;
}

.red{
  color: rgb(252, 14, 14);
}

.primary-contact-email{
  padding-top: 4px;
  height: 20px;
}

.bold{
font-weight: bold;
}

.italic{
font-style: italic;
}

.footer {
  padding: 3rem 1.5rem 3rem !important;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.small-caps {
  font-variant: small-caps;
}

.black-font {
  color: #000;
}

.pad-zero {
  padding-bottom: 0 !important;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.center {
  text-align: center !important;
}

.title-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-images img {
    margin: 0 10px; /* Adjusts space between images */
}

.display-image, .organizer-affiliation-logo-content-image {
  width: 9rem !important; /* Adjust the desired width */
  height: 9rem !important; /* Set the same value as width to make it a square */
  object-fit: cover !important; /* Preserve the image's aspect ratio and cover the container */
  border-radius: 30%;
}

.organizer-affiliation-logo-content-image {
  max-height: 8rem !important; /* Ensure the image height does not exceed 10rem */
  width: auto !important; /* Adjust the width proportionally */
  object-fit: contain !important; /* Ensure the entire image fits within the container */
  border-radius: 0% !important;
}
